<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="rule 1h" stopProcessing="true">
					<match url="^admin/$"  />
					<action type="Rewrite" url="/admin/index.php"  />
				</rule>
				<rule name="rule 1t" stopProcessing="true">
					<match url="^([a-zA-Z0-9_-]+).html/p=([0-9]+)$"  />
					<action type="Rewrite" url="/index.php?com={R:1}&amp;p={R:2}"  />
				</rule>
				<rule name="rule 2t" stopProcessing="true">
					<match url="^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).htm$"  />
					<action type="Rewrite" url="/index.php?com=ngonngu&amp;lang={R:1}&amp;get_com={R:2}"  />
				</rule>
				<rule name="rule 3t" stopProcessing="true">
					<match url="^([a-zA-Z0-9_-]+)/$"  />
					<action type="Rewrite" url="/index.php?com=ngonngu&amp;lang={R:1}"  />
				</rule>
				<rule name="rule 4t" stopProcessing="true">
					<match url="^([a-zA-Z0-9_-]+).html$"  />
					<action type="Rewrite" url="/index.php?com={R:1}"  />
				</rule>
				<rule name="rule 1L" stopProcessing="true">
					<match url="^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([0-9]+)x([0-9]+)x([0-9]+)/(.*)$"  />
					<action type="Rewrite" url="/timthumb.php?w={R:3}&amp;h={R:4}&amp;zc={R:5}&amp;q=95&amp;src=http://{HTTP_HOST}/upload/{R:2}/{R:6}"  />
				</rule>
				<rule name="rule 1q" stopProcessing="true">
					<match url="^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+).html$"  />
					<action type="Rewrite" url="/index.php?com={R:1}&amp;id={R:3}"  />
				</rule>
				<rule name="rule 2q" stopProcessing="true">
					<match url="^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+).html/p=([0-9]+)$"  />
					<action type="Rewrite" url="/index.php?com={R:1}&amp;id={R:3}&amp;p={R:4}"  />
				</rule>
				<rule name="rule 1f" stopProcessing="true">
					<match url="^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+).l/p=([0-9]+)$"  />
					<action type="Rewrite" url="/index.php?com={R:1}&amp;idl={R:3}&amp;p={R:4}"  />
				</rule>
				<rule name="rule 2f" stopProcessing="true">
					<match url="^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+).l$"  />
					<action type="Rewrite" url="/index.php?com={R:1}&amp;idl={R:3}"  />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>